* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left, rgb(0, 204, 255), white)
}

.flex-container {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

table {
    width: 100%;
    margin: 12px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}

a {
    text-decoration: none;
}

#btn_criar {
    background-color: teal;
    margin: 0 12px;
}

#btn_criar a {
    color: white;
}

#busca {
    height: 30px;
    margin-right: 4px;
}

#campo_pesquisa {
    margin: 0 12px;
}

#btn_pesquisa {
    border: none;
    background-color:rgba(0, 204, 255, 0)
}

#btn_delete {
    color: red;
}

#btn_edit {
    color:orange;
}

#container_topo {
    margin-top: 12px;
}